#container {
    min-height:100%;
    position:relative;
 }
 #header {
    padding:0px;
 }
 #body {
    padding:10px;
    padding-bottom:80px;   /* Height of the footer */
    
 }
 #footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:80px;   /* Height of the footer */
 }
 
 


header   {
    background: #222;
    color: #FFF;
    padding: 5px 30px;
}

/* logo */
#logo         {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
  }
  #logo img    {
    width: 50px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
  }
  #logo span   {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left:20px;
  }

  /* main navigation */
nav     {
    width: 50%;
    display: inline-block;
    text-align: right;
  }
  nav ul   {
    list-style: none;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a    {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
  
  .entity{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.entity::-moz-selection { background-color:#dddd00}
.entity::selection { background-color:#dddd00}

.CANCERSTAGE{
    background-color:#dd0000;
    color: white;
}

.CANCERSTAGE:hover{
    background-color: #ff0000;
    color: white;
}

.BIOMARKER{
    background-color:#00aa00;
    color: white;
}

.BIOMARKER:hover{
    background-color: #00bb00;
    color: white;
}

.TREATMENTSETTING{
    background-color:#0000aa;
    color: white;
}

.TREATMENTSETTING:hover{
    background-color: #0000cc;
    color: white;
}


.black{
    background-color:#666666;
    color: white;
}

.black:hover{
    background-color: #000000;
    color: white;
}

.anotationBox{
    width: 100%; 
    border: solid 1px #cccccc; 
    border-radius:5px; 
    min-height:100px; 
    padding: 5px;
    line-height: 25px;
}



.removeEntity{
    background-color: black;
    color: white;
    width:20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    vertical-align: middle;
    position: relative;
    left: -20px;
    top:-20px;
}

.btn{
  display: inline-block;
  
  border: 3px solid #FFF;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer;
}

.btn-primary{
    color: #fff;
    border-color: blueviolet;
    background-color: blueviolet;
}

.btn-primary:hover{
    color: #fff;
    border-color: violet;
    background-color: violet;
}